.heading {

    width: 100%;
    font-size: 25px;
    margin: 0px;
    box-shadow: 0px 0px 50px rgba(148, 10, 233, 0.994);
}

.note {
    color: blanchedalmond;
    font-size: 20px;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-position: 100%;
}

.copy_right_footer {
    background-color: black;
    color: antiquewhite;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    line-height: 2;
    font-size: 20;
}

canvas {
    border: 5px solid wheat;
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgb(255, 252, 60);
}